body{
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url('https://wallpapers.com/images/hd/valorant-background-rfflj0dso9bzkj4p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.header {
    font-size: 37px;
    font-family: 'Agbalumo', sans-serif;
    text-align: center;
}

#form {
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-text,
.text {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-family: 'Agbalumo', sans-serif;
    font-size: 24px;
    color: #000;
}

.image-text {
    margin-top: 18px;
}

.text {
    margin-top: 18px;
    white-space: nowrap;
}
